/*general*/
header {
  display: block;
  height: 10%;
  background-color: black;
  font: 400% Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

#main {
  max-width: 960px;
  margin: 0 auto;
}

html {
  overflow-x: hidden;
}

.button-holder {
  display: block;
  height: 10%;

  text-align: right;
}
.button {
  cursor: pointer;
  height: 50%;
  line-height: 50%;
  display: inline-block;
  background-color: black;
  font: 200% Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: 15px;
  padding: 0 5%;
  border-radius: 5px;
}

.card {
  position: relative;
  font-style: italic;
  padding: 5px;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  overflow-wrap: break-word;
  float: left;
  width: 40%;
  height: 15em;
  margin-left: 6.5%;
  margin-top: 2%;
  border: 1px solid gray;
  line-height: 1.5em;
}
.card strong {
  font-weight: bold;
  font-style: normal;
}
.card img {
  cursor: pointer;
  position: relative;
  top: 15px;
}

.exit {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 100, 0);
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  font-family: sans-serif;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
}
.exit:hover {
  background-color: red;
}
/*form style*/
.forma {
  z-index: 7;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -600px;
  width: 100%;
  max-width: 600px;
  padding: 0 2%;
  background-color: gray;
  border: 2px solid black;
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: bold;
  transition-duration: 2s;
}
.transition {
  transform: translateY(700px);
}
.back {
  transform: translateY(-700px);
  transition-duration: 2s;
}
h2 {
  font: 200% Arial, Helvetica, sans-serif;

  text-align: center;
}

.mali {
  display: block;
  height: auto;
}
input[type="text"] {
  width: 90%;
  border-radius: 0px;

  height: 20px;
}
input[type="number"] {
  width: 20%;
}

/* small*/

@media screen and (max-width: 640px) {
  .button {
    display: block;
  }
  .card {
    display: block;
    float: none;
    width: auto;
    margin: 1% 0;
  }
  .forma {
    line-height: 1.2em;
    padding-left: 0;
  }
}
